.main-container {
  text-align: center;
  padding: 110px;
  color: white;
  font-size: 22px;
  padding-top: 100px;
}
.ourstory {
  display: flex;
}
.ourstory-img {
  display: flex;
  justify-content: baseline;
}
.ourstory-img img {
  max-width: 100%;
  box-shadow: 5px 5px 50px lightgray;
  border-radius: 0.9%;
}
.story {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  letter-spacing: 1px;
}
/* MISSION SECTION */

.mission-session {
  display: flex;
}
.mission {
  letter-spacing: 1px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  padding-right: 20px;
}
.washer-img {
  /* display: flex;
  justify-content: flex-end; */
}
.washer-img img {
  max-width: 100%;
  height: 700px;
  box-shadow: 5px 5px 50px lightgray;
  border-radius: 0.9%;
}
.mission {
  /* display: flex;
  justify-content: flex-end; */
}
/* MEDIA QUERIES */
@media (max-width: 1020) {
  .washer-img img {
    max-width: 100%;
    /* height: 1000px; */
    box-shadow: 5px 5px 50px lightgray;
    border-radius: 0.9%;
  }
}
