@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header-container img {
  width: 100%;
  height: 500px;
  background-image: url("../../assets/images/electric-blue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 60%;
}

nav {
  background-color: #282c34;
  font-family: "Notable";
  font-size: 32px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.s-link {
  color: #00cc00;
  text-decoration: none;
  /* color: #0892d0; */
}
.logo {
  display: flex;
  align-self: center;
  justify-self: center;
  font-family: "Notable";
  font-size: 70px;
  color: #0892d0;
  /* color: #00cc00; */
}
.service {
  text-align: center;
  color: white;
  padding-top: 15px;
}

.nav-links {
  display: flex;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  .logo {
    font-size: 42px;
  }
  .s-link {
    font-size: 32px;
  }
}

@media (max-width: 1024px) {
  .logo {
    font-size: 42px;
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 32px;
  }
  .s-link {
    font-size: 22px;
  }
}

@media (max-width: 425px) {
  .s-link {
    font-size: 15px;
    padding: 5px;
  }
  .header-container img {
    width: 100%;
    height: 200px;
  }
  .nav-bar {
    padding-left: 0;
  }

  .service {
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  .s-link {
    font-size: 14px;
  }

  .logo {
    font-size: 28px;
  }
}
@media (max-width: 320px) {
  .s-link {
    font-size: 10px;
  }

  .logo {
    font-size: 24px;
  }
}
