@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header-container img {
  width: 100%;
  height: 500px;
  background-image: url("../../assets/images/electric-blue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 60%;
}

nav {
  background-color: #282c34;
  font-family: "Notable";
  font-size: 25px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: inherit;
}
.s-link {
  color: #00cc00;
  text-decoration: none;
  /* color: #0892d0; */
}
.logo {
  display: flex;
  align-self: center;
  justify-self: center;
  font-family: "Notable";
  font-size: 70px;
  color: #0892d0;
  /* color: #00cc00; */
}
.service {
  text-align: center;
  color: white;
  padding-top: 15px;
}

.nav-links {
  display: flex;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  .logo {
    font-size: 10px;
  }
}

@media (max-width: 415px) {
  .s-link {
    font-size: 18px;
  }
  .header-container img {
    width: 100%;
    height: 200px;
  }
  .logo {
    font-size: 30px;
  }
  .service {
    font-size: 10px;
  }
}
@media (max-width: 325px) {
  .nav-bar {
    display: flex;
    justify-content: space-evenly;
  }
  .header-container img {
    width: 100%;
    height: 200px;
  }
  .logo {
    font-size: 20px;
  }
  .service {
    font-size: 10px;
  }
}
