@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header-container img {
  width: 100%;
  height: 500px;
  background-image: url("../../assets/images/electric-blue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 60%;
}
.img-container {
}

nav {
  background-color: #282c34;
  font-family: "Notable";
  font-size: 25px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: inherit;
}
.s-link {
  color: #00cc00;
  text-decoration: none;
  /* color: #0892d0; */
}
.logo {
  display: flex;
  align-self: center;
  justify-self: center;
  font-family: "Notable";
  font-size: 70px;
  color: #0892d0;
  /* color: #00cc00; */
  animation: logo-flash infinite 3s ease;
}
.service {
  text-align: center;
  color: white;
  padding-top: 15px;
}
@keyframes logo-flash {
  from {
    color: #0892d0;
  }
  to {
    color: #00cc00;
  }
}

.nav-links {
  display: flex;
}
